*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(cover.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 2%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}
.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;
    cursor: pointer;
    margin-top: 10px;
}
nav{
    flex: 1;
    padding-left: 60px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
    margin-top: 10px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul li a:hover{
    color: #ff5ea2;
}
.ad{
    font-size: 40px;
    font-weight: 100;
    margin-top: 60px;
    margin-bottom: -20px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.nem{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color:white;
}
#nu{
    font-size: 40px;
}
.text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #87adfe;
}
.btn{
    display: inline-block;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    margin-top: 60px;
    margin-left: 110px;
    font-weight: bold;
    color: black;
}
.social img{
    height: 30px;
    margin: 30px;
    margin-bottom: -120px;
    cursor: pointer;
}
.social{
    text-align: center;
}
.copy{
    color: white;
    margin: 100px;
    margin-left: 0px;
}
.copy a {
    text-decoration: none;
    color: #87adfe;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
